*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(1, 1, 1, 1);
    color: aliceblue;

}
.container{
    max-width: 400px;
    margin: 70px;
    padding:40px ;
    border-radius: 25px;
    border: 1px solid rgba(18, 172, 233, 0.808);
    background-color:rgb(1, 1, 1);
    text-align: center;
}
h1{
    font-size:40px;
    text-align: center;
    margin-bottom: 25px;
    color: aliceblue;
}
form label{
    display: block;
    margin-bottom: 15px;
    font-size:18px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
}
form input [type="text"],
form input [type="email"],
form input [type="password"]{
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;
    border: nome;
    color: aliceblue;
    background-color: rgb(1, 1. 1);
    text-align: center;
}
form input[type="text"]{
    margin-bottom:20px;
}
form input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    font-weight:bold ;
    color: rgb(5, 228, 209);
    text-align: center;
    
    
}

